@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
/* Variables */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6rem;
  background: #f3f3f3;
  color: #2e2d2c;
  min-height: 100vh;
}

input::placeholder {
  color: #ababab;
}

input:invalid {
  border-color: #e65562;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header {
  height: 60px;
  background: transparent url("/src/img/bg-image.svg") 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
}
.header .logo {
  margin-left: 1rem;
  width: 57px;
  height: 40px;
}

.title-pedido {
  margin: 1.5rem 0;
}

.section-contrato {
  box-shadow: 0px 1px 2px #2E2D2C66;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}
.section-contrato .subtitle-criar-doc {
  margin: 1.3rem 0;
  font-size: 20px;
  font-weight: 600;
}
.section-contrato .observacoes {
  margin: 1.5rem 0;
}
.section-contrato .observacoes span {
  font-weight: bold;
}
.section-contrato .informacao {
  display: flex;
}
.section-contrato .informacao .autor {
  margin-right: 2.5rem;
}
.section-contrato .informacao span {
  font-weight: bold;
}

.form {
  max-width: 570px;
  background: #ffffff;
  padding: 1.5rem;
  box-shadow: 0px 1px 2px #2E2D2C66;
}
.form .required-symbol {
  color: #e65562;
}
.form .error-menssage {
  display: block;
  min-height: 1.25rem;
  margin-bottom: 1.25rem;
  color: #e65562;
}
.form .divisao {
  border-bottom: 1px solid #c4c8cc;
}
.form .section-title-pedido {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  width: 100%;
  font-weight: 600;
}
.form label {
  margin-top: 1.2rem;
}
.form select {
  width: 256px;
  height: 40px;
  border: 1px solid #ababab;
  border-radius: 2px;
}
.form label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.275rem;
}
.form input {
  width: 100%;
  border: 1px solid #ababab;
  border-radius: 2px;
  height: 40px;
}
.form input::placeholder {
  padding-left: 14px;
}
.form .border-error {
  border-color: #e65562;
}
.form input[type=submit] {
  background-color: #3570b2;
  color: #ffffff;
  border: none;
  padding: 0.563rem 1.25rem;
  width: fit-content;
  border-radius: 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2.1rem;
}
.form .dados-cartorio .cep {
  width: 176px;
}
.form .dados-cartorio .endereco-wrapper {
  display: flex;
  justify-content: space-between;
}
.form .dados-cartorio .endereco-wrapper .rua,
.form .dados-cartorio .endereco-wrapper .cidade {
  width: 324px;
}
.form .dados-cartorio .endereco-wrapper .numero,
.form .dados-cartorio .endereco-wrapper .uf {
  width: 130px;
}
.form .dados-cartorio p {
  font-weight: bold;
  margin-top: 2.5rem;
}

.footer {
  padding: 1.375rem 0;
  text-align: center;
  font-weight: 700;
  font-size: 0.875rem;
  color: #fff;
  background: transparent linear-gradient(153deg, #5a5789 0%, #2d2c45 100%) 0% 0% no-repeat padding-box;
  margin-top: 3.125rem;
}

@media (max-width: 580px) {
  .endereco-wrapper {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=styles.css.map */
