.header {
    background: url("/asset/logo-background.png");
    padding: 9px 0;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.title-pedido {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}